header {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;
    text-align: center;
    padding: 20px 20px;
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

header p {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

header nav {
    margin-top: 20px;
}

header nav a {
    margin: 0 15px;
    color: #f4f4f9;
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid transparent;
    padding: 8px 15px;
    transition: all 0.3s;
}

header nav a:hover {
    color: #1e3c72;
    background: #fff;
    border-color: #fff;
    border-radius: 5px;
}

header .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 95%;
    z-index: 3;
}

header .logos img {
    height: 60px;
}

header .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .team-logos {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px 0;
}

header .team-logos img {
    height: 100px;
}

header .vs {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
	flex: 1;
}

.social-links {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 20px;                 
}


.social-links img {
    width: 40px; 
    height: 40px;
    display: inline-block;
}

#countdown {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

#countdown div {
    margin: 10px 15px;
    text-align: center;
    font-size: 1.2rem;
}

#countdown span {
    display: block;
    font-size: 2.8rem;
    font-weight: bold;
    color: #f4f4f9;
}

main {
    background: #fff;
    padding: 20px 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

main h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #1e3c72;
    margin-bottom: 20px;
}

main p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 0;
}

#match-info p,
#match-highlights p {
    margin-bottom: 15px;
}

#match-info strong {
    color: #2a5298;
}

nav {
    background: #1e3c72;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    color: #f4f4f9;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 12px 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #1e3c72;
    background: #fff;
    border-radius: 5px;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    background: #f4f4f9;
    margin: auto;
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 60%;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }
	
    header .logos img {
        height: 30px;
    }
	
	.donation-banner h1 {
        font-size: 30px;
    }
	
    .container {
        width: 95%;
    }

    .team-logos {
        flex-direction: column;
        gap: 20px;
    }

    .team-logos img {
        height: 80px;
    }

    #countdown {
        flex-wrap: wrap;
    }

    #countdown div {
        margin: 5px;
        font-size: 1rem;
    }

    #countdown span {
        font-size: 2rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav a {
        display: block;
        margin: 5px 0;
        padding: 10px;
        font-size: 1rem;
    }
	
	.stadium-image {
        width: 90%;
    }

}

.club-logo {
    width: 150px;
    margin: 20px auto;
    display: block;
}

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.player {
    text-align: center;
    max-width: 150px;
}

.player img {
    width: 100%;
    border-radius: 10px;
}

.stadium-image {
    width: 50%;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.form-group i {
    margin-right: 10px;
}

footer {
    background: #1e3c72;
    color: #f4f4f9;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
    margin: 0;
}
